@import 'variables.scss';
@import 'typography.scss';
@import 'current-weather.scss';

body {
	color: $text;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}

.container-page[data-units='imperial'] {
	.unit-metric {
		display: none;
	}
}

.container-page[data-units='metric'] {
	.unit-imperial {
		display: none;
	}
}
