@import 'variables.scss';

.container-date {
	font-size: $font-size-reg;
}
.container-city {
	font-size: $font-size-reg;
}

.container-current-weather {
	&[data-theme='dark'] {
		background: $gradient-night;
		color: $light;
		.current-weather-details,
		li {
			color: $light;
		}
		.container-icon {
			@include border-bold($white);
		}
		.we-weather-details .we-list-group {
			@include border-bold($white);
		}
	}
	//light theme
	&[data-theme='light'] {
		background: $gradient-day;
	}
	&[data-theme='cloudy'] {
		background: $gradient-cloudy;
	}
}

.container-temperature {
	text-align: right;
	.major {
		font-size: $font-size-l;
	}
	.minor {
		font-size: $font-size-s;
	}
}

.container-weather-main {
	.major {
		font-size: $font-size-reg;
	}
	.minor {
		font-size: $font-size-s;
	}
}

.container-weather-info {
	.img-weather {
		@include border-bold($white);
		border-radius: 50%;
	}
}

.container-humidity-wind {
	.wa-border {
		@include border-bold($white);
		border-radius: 3px;
	}
}
