@import 'variables.scss';

.container-date {
	font-size: $font-size-reg;
}
.container-current-weather {
	&[data-theme='dark'] {
		background: $gradient-night;
		color: $light;
		.current-weather-details,
		li {
			color: $light;
		}
		.container-icon {
			@include border-bold($white);
		}
		.we-weather-details .we-list-group {
			@include border-bold($white);
		}
	}
	//light theme
	&[data-theme='light'] {
		background: $gradient-day;
		.container-icon {
			@include border-bold($light-gray);
		}
		.we-weather-details .we-list-group {
			@include border-bold($light-gray);
		}
	}
}

.container-weather-info {
	.major {
		font-size: $font-size-reg;
	}
	.minor {
		font-size: $font-size-s;
	}
}
