/* colors */
$primary: #22b2da;
$success: #22da93;
$warning: #f0b03a;
$danger: #f23557;
$light: #eee;
$dark: #0c1425;
$white: #fff;
$gray: #414141;
$light-gray: lighten($gray, 60%);
$text: $dark;
$day: #fffacd;
$night: #000065;

$font-size-xl: 60px;
$font-size-l: 50px;
$font-size-m: 40px;
$font-size-reg: 24px;
$font-size-s: 16px;
$font-size-xs: 14px;

$gradient-blue: rgb(137, 210, 253);
$gradient-yellow: rgb(255, 241, 188);
$gradient-day: radial-gradient(
	circle at 100% 10%,
	$gradient-yellow 0%,
	$gradient-blue 50%
);
$gradient-cloudy: radial-gradient(
	circle at 100% 10%,
	desaturate($gradient-yellow, 60%) 0%,
	desaturate($gradient-blue, 60%) 50%
);
$gradient-night: linear-gradient(
	45deg,
	rgba(4, 0, 51, 0.95) 40%,
	rgb(0, 55, 79) 60%,
	rgb(9, 93, 134) 90%
);
$gradient-rainbow: linear-gradient(
	45deg,
	$danger,
	$danger 14%,
	$warning 14%,
	$warning 28%,
	yellow 28%,
	yellow 42%,
	$success 42%,
	$success 56%,
	$primary 56%,
	$primary 70%,
	blue 70%,
	blue 84%,
	purple 84%
);

@mixin border-bold($color) {
	border: 3px solid $color;
}
